body{
    background-image:url(MainBackground1.jpg);
    background-position: center;
    background-repeat:no-repeat ;
    background-size: cover;
    height: 98.5vh;

}

.navbar{
font-family: Playfair Display;
font-size: 20px;
font-weight: 400;
text-align: end;
}
.navbar a{
    text-decoration: none;
    color: black;
    padding: 9px 9px;
}
.navbar a:hover{
    background-color: rgba(250, 250, 250, 0.582);
}

main{
    padding: 17%;
}
.Portfolio{
font-family:'Aboreto';
font-size: 85px;
font-weight: 400;
text-align: center; 
}
.Name{
font-family: 'Parisienne';
font-size: 45px;
font-weight: 400;
text-align: center;
}
.bottomText{
    display: flex;
    justify-content: space-around;
    font-size: 20px;
}