
.parallax {
  /* The image used */
  background-image: url("TempoBackground.png");

  /* Set a specific height */
  min-height: 500px; 
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.tempoText{
    background-color: #004900;
    height:700px;
    font-size:25px;
   
}
p.text{
     border-style: solid;
    border: 2%;
    border-color: #f6dfff;
     text-align: center;padding: 2%;
}