.navbar{
font-family: Playfair Display;
font-size: 20px;
font-weight: 400;
text-align: end;
}
.navbar a{
    color: black;
    padding: 9px 9px;
}
.Project{
   text-decoration: underline aliceblue;
}

.parallax {
  /* The image used */
  background-image: url("TempoBackground.png");

  /* Set a specific height */
  min-height: 500px; 
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.tempoText{
    background-color: #004900;
    height:500px;
    width: 100%;
    font-size:25px;
    display: inline-block;
}
p.text{
  border-style: solid;
  border: 2%;
  border-color: #f6dfff;
  text-align: center;
  padding: 2%;
  width: 50%;
}

